name: ci

on:
  push:
    branches:
      - test-ci

jobs:
  check-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: format-contracts
        run: |
          cd contracts/toCKB-typescript
          cargo fmt --all -- --check
      - name: format-tests
        run: |
          cd tests
          cargo fmt --all -- --check

  build-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: install-capsule
        run: |
          wget -c https://github.com/nervosnetwork/capsule/releases/download/v0.2.3/capsule_v0.2.3_x86_64-linux.tar.gz
          tar -zxvf capsule_v0.2.3_x86_64-linux.tar.gz
          alias capsule='./capsule_v0.2.3_x86_64-linux/capsule'
      - name: build
        run: capsule build
      - name: test
        run: capsule test
